<a href="https://colab.research.google.com/github/ChantelleChong/ITM25.03/blob/main/group_a1_set1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [ ]:
# imports and reading the pdf can go here

# Pre-processing Data

This is covered during the group summative

### Clean `df['discounted_price']` and `df['actual_price']`
Hint:
- Remove the following â‚¹ and ,
- Ensure that the data type is a float

In [ ]:
# Checking the data of df['discounted_price']

In [ ]:
# Checking the data of df['actual_price']

### Clean `df['discount_percentage']`
Hint:
- Remove the following: %
- Ensure that the data type is a float

In [ ]:
# Checking of the data of df['discount_percentage']

### Clean `df['rating']`
Hint:
- Check if there are missing data points using `.fillna()`
- Check for inconsistencies in data points (look at removing ,)
- Ensure that the type of the data is float.
- If there are blanks or missing values, replace with a 4.

In [ ]:
# Clean 'rating' column and replace '|' with 4 --> for the sake of this test

In [ ]:
# Fill None values in 'rating_count' and clean it

# Group Portion

### 1. Find the product with the most number of unique users who reviewed it.

Hint: You may use the `lambda` function.

### 2. Generate a summary of the total discounted price per category found at the first position (index of 0).

Hint: You may use the `lambda` function

### 3. Determine the Product with the most frequent reviewer and the frequency of their reviews.

Hint: use `explode` to expand certain datapoints into rows.

### 4. Find the Product with the Longest Average Review Length

Longest Average Review Length = on a per character basis

### 5. Extract and List All Unique Words from the `review` column and count their occurrences. Export the result into an excel file.

Hint:
- Simply separate the words into commas and convert the words into lowercase. The tally will be case-sensitive. Meaning, 'Amazing' and 'amazing' will be tallied as two instances.
- Ensure that the code goes through each line of code indicated on the dataframe. You may use the import indicated below to help you create a tally for each unique word.
  - `from collections import Counter`
  
Example Output:
![Expected Result](output.png)